* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: #09090a;
  color: white;
  height: 100vw;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid #27272a;
  border-radius: 8px;
  background: #18181b;
}

input:checked {
  background: #8b5cf6;
  border: 2px solid #a78bfa;
}

@media (max-width: 570px) {
  button div {
    display: none;
  }
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Roboto Mono";
  background-color: #09090a;
}

.card {
  background-color: #8b5cf6;
  padding: 40px;
  border-radius: 6px;
  width: 280px;
}

.imagemLogo {
  width: 100px;
}

.card-header {
  align-items: center;
  margin: 0;
  padding-bottom: 80px;
  color: white;
  margin-left: 8px;
  display: flex;
  justify-content: space-between;
}

.card-header h2 {
  padding: 10px;
  border: 1px solid #21016b;
}
label {
  margin-left: 10px;
  font-size: 15px;
}
.card-content label {
  color: black;
  font-size: 12px;
}
.card-content-area {
  position: relative;
  justify-content: center;
  padding: 8px 0;
}

.card-content-area input {
  height: 35px;
  width: 98%;
  margin-top: 8px;
  padding: 3px;
  background-color: white;
  border-bottom: 1px solid;
  border: none;
  color: black;
}

.card-footer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.voltar {
  color: white;
  margin-left: 40%;
}
.card-footer .submit:hover {
  background-color: #1b0157;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.card-footer .recuperar_senha:hover {
  color: #21016b;
}
.card-footer .novo-cadastro:hover {
  color: #21016b;
}

.card-footer .submit {
  width: 100%;
  height: 40px;
  background-color: #2d048d;
  color: white;
  margin: 10px 0;
  border: none;
}

.card-footer a {
  text-align: center;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

#msgError {
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSuccess {
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}
